<h1>さわやかの待ち時間</h1>
<div id="map" style='width: 100%;'></div>

<<script>
function initMap() {
    let map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 35.15912923191332, lng: 138.55187030875666},
        zoom: 8
     });
}
</script>>